.notite-found{
    color: #000;
    background-color: #7affb6;
    display: block;
    padding: 10px 0;
    text-align: center;
}
.notite-found span{
    display: inline-block;
    padding: 5px;
    background-color: #0a75a7;
    color: #ffffff;
}
#adaugareNotita form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#adaugareNotita form textarea,
#adaugareNotita form select
#adaugareNotita form button{
    margin: 10px;
    height: 65px;
}

.adaugareNotita{
    width: 200px;
    height: 65px;
}