.notite-found{
    color: #000;
    background-color: #7affb6;
    display: block;
    padding: 10px 0;
    text-align: center;
}
.notite-found span{
    display: inline-block;
    padding: 5px;
    background-color: #0a75a7;
    color: #ffffff;
}