.AdaugaUtilizator{
    margin-top: 20px;;
    min-height: 150px;
    border: 2px solid #3498db;
    padding: 10px;
}
.AdaugaUtilizator input{
    display: block;
}

button{
    width: 175px;
    min-height: 30px;
}